/* PHONE STYLES */

@media (max-width: 750px){
	.header-links{
		display: none;
	}
	#burger{
		display: block;
		cursor: pointer;
		height: 1.5rem;
	}
}

#burger-menu{
	position: fixed;
	height: 100vh;
	width: 100%;
	top: 0;
	left: 0;
	background: rgb(255, 255, 255);
	z-index: 10;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

#burger-menu ul{
	margin-top: 6rem;
	padding: 2rem;
}

#burger-menu li{
	padding-top: 1rem;
}

#burger-menu a{
	font-size: 2rem;
}

#burger-menu.active {
  opacity: 1;
  visibility: visible;
}



@media (max-width: 900px){
	#about .image{
		display: none;
	}
	.about-text{
		grid-column: span 12 ;
	}
}

@media (max-width: 800px){
	.wrapper{
		grid-template-columns: repeat(4, 1fr);
    	gap: 16px;
	}
	.hero .wrapper > div{
		grid-column: 1 / 5;
	}

	.season{
		grid-column: span 2;
	}

	.join-us p{
		grid-column: 1 / 5;
	}
	.join-us a{
		grid-column: 1 / 5;
	}
}

